body {
  font-family: 'Poppins', sans-serif;
}

body.light-mode {
  background-color: #ffffff;
  color: #1a103d;
}

body.dark-mode {
  background-color: #1a103d;
  color: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent excess scrollable space */
html, body, #root {
  height: 100%;
}

/* Ensure main containers fit viewport */
main {
  height: 100vh;
  overflow-y: auto;
}